:host {
  display: block;
  margin-top: var(--space-xs);
}

.song-add-to-playlist-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-2xs);
}

.song-add-to-playlist-button__button {
  font-size: var(--font-size-small);
}

.song-add-to-playlist-button__error {
  color: var(--color-danger);
  font-size: var(--font-size-small);
}
